body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-div {
  padding-top: 30px;
  text-align: center;
  width: 100vw;
  height: 40vh;
  background-color: #A9AABC;
}
.header-div p:first-child {
  font-size: 20px;
  color: white;
}
.header-div p:nth-child(2){
  font-size: 50px;
  color: white;
}
.income-expenses {
  font-size: 20px;
}
#icome{
  font-size: 22px;
  color: white;
  text-align: left;
  background-color: red;
  margin: 0 35%;
  padding: 20px;
}
#expenses{
  font-size: 22px;
  color: white;
  text-align: left;
  margin: 10px 35%;
  padding: 20px;
  background-color: #2AB9B7;
}
.form {
  text-align: center;
  background-color: #F7F7F7;
}
.budget {
  display: flex;
  padding:100px;
}
.income {
  flex: 1;
  font-size: 22px;
  color: #2AB9B7;
  margin: 0 100px;
}
.income p:first-child {
  border-bottom: 1px solid rgb(195, 195, 195);
  padding-bottom: 10px;
}
.expenses {
  flex: 1;
  font-size: 22px;
  color: #FF4F4B;
  margin: 0 100px;
}
.expenses p:first-child {
  border-bottom: 1px solid rgb(195, 195, 195);
  padding-bottom: 10px;
}
.income-div {
  color:black;
}
.income-div-hower p {
  text-decoration: line-through;
  color:red;
}
#span-right-income {
  float: right;
  color:#2AB9B7;
}
#span-right-expenses {
  float: right;
  color:#FF4F4B;
  padding-right: 10px;
}
#percent {
  background-color: #F57B66;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  color:white;
}
#span-income {
  font-size: 20px;
  float: right;
  color: white;
  margin-right: 70px;
}
#span-expenses{
  font-size: 20px;
  float: right;
  color: white;
}
input[type=text], select{
  padding: 20px;
  margin: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  background-color: white;
  border-radius: 5px;
  border: 0px;
}


